.exercises {
    margin-top: 70px;
    margin-left: 8px;
}



.default-color {
    color: tomato;
}

.exercises-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

@media only screen and (max-width: 800px) {
    .exercises-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
}